:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .links {
    display: flex;
    flex-direction: column;

    input {
      width: 14rem;
      margin: 1rem;
      cursor: pointer;
    }
  }
}
