
<app-body-header-page>Home Page!!</app-body-header-page>

<p>Home page navigates by routes using: <b>Router</b>.</p>
<p>
  More information can get from:
  <a href="https://angular.io/api/router/Router#router" target="_blank">
    Router
  </a>
</p>

<div class="links">
  <input type="button" value="Go to product 1" (click)="goToProduct(1)" />
  <input type="button" value="Go to product 1 detail" (click)="goToProductDetails(1)" />

  <input type="button" value="Go to product 2" (click)="goToProduct(2)" />
  <input type="button" value="Go to product 2 detail" (click)="goToProductDetails(2)" />
</div>

